[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia miprimerapag.html(~3 KB)
Type=Link
URL=https://correoweb.educa.madrid.org/?_task=mail&_action=get&_mbox=INBOX&_uid=4934&_token=5k4i30zuzw7pbRGjqiJVxUePZgSslmDP&_part=2
Icon=mate-fs-bookmark
